<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--
    <add key="fname" value="C:\Users\garfi\Documents\Trash\ArchSubir\CorreccionConexionRed.docx" />
    -->
    <add key="fname" value="C:\Users\garfi\Documents\Trash\ArchSubir\ArchivoCargarDatosCltes.xlsx"/>
    <add key="formCaption" value="Test Download Files with Wcf Services"/>
    <add key="downloadPath" value=" C:\Users\garfi\Documents\Trash\Tempo"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyServiceTranferFiles" sendTimeout="00:05:00"
          maxBufferPoolSize="524288" maxReceivedMessageSize="4000000" />
        <binding name="BasicHttpBinding_ITransferFileService" sendTimeout="00:05:00"
          maxBufferPoolSize="524288" maxReceivedMessageSize="4000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--
      <endpoint address="http://localhost:60966/MyServiceTranferFiles.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyServiceTranferFiles"
        contract="TransfFilesSrvRef.IMyServiceTranferFiles" name="BasicHttpBinding_IMyServiceTranferFiles" />
        -->
      <endpoint address="http://10.25.1.56/TestProcessExcelWithWcf/MyServiceTranferFiles.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyServiceTranferFiles"
        contract="TransfFilesSrvRef.IMyServiceTranferFiles" name="BasicHttpBinding_IMyServiceTranferFiles" />
      <!--
      <endpoint address="http://localhost:57297/TransferFileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransferFileService"
        contract="TransfFilesSrvRef2.ITransferFileService" name="BasicHttpBinding_ITransferFileService" />
        -->
      <endpoint address="http://10.25.1.56/WcfTransferFiles/TransferFileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransferFileService"
        contract="TransfFilesSrvRef2.ITransferFileService" name="BasicHttpBinding_ITransferFileService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
